<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/Hiteshchoudhary25" target="_blank"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.instagram.com/hitesshh25?igsh=Z3kzaXlrbTExYXQ5&utm_source=qr"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="www.linkedin.com/in/hiteshchoudhary25" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href=".terms">Terms</a>
        </div>
    </div>
</footer>